.total{
    display: grid;
    grid-template-areas:
"header header header"
"panel panel panel ";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    background-image: url('../../Img/fon.jpg');

 }

.header{
    grid-area: header;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(240,240,12,1) 0%, rgba(255,255,255,1) 87%);
    margin: 5px;
    display: grid;
    grid-template-areas:
    "img div but";
    grid-template-columns: 1fr 15fr 1fr;
} 

.panel{
    grid-area: panel;
    border-radius: 20px;
    height: 1000px;
    
    padding: 30px;
    margin: 5px;
}

.img{
    grid-area: img;
    padding: 2px;
    padding-left: 10px;
  }

.divHeader{
    grid-area: div;
    padding: 10px;
}

.butHeader{
    grid-area: but;
    padding: 10px;

}



.main{
    grid-area: main;
    border-radius: 20px;
    height: 1000px;
    background-color: rgb(185, 199, 243);
    padding: 50px;
    margin: 5px;
}





.sel{
    display: grid;
    grid-template-areas:
"cre exp"
"shop actExp ";
    grid-template-rows: 5fr 4fr;
    grid-template-columns: 2fr 7fr;
}

.cre{
    grid-area: cre;
    border: 2px solid #515151;
    border-radius: 10px;
    padding-bottom: 15px;
    height: auto;
    width: auto;
    background-image: url('../../Img/credit.jpg');
    margin: 30px;
    text-align: center;
    opacity: .7;
}

.exp{
    grid-area: exp;
    border: 2px solid #515151;
    border-radius: 10px;
    padding-bottom: 15px;
    height: auto;
    width: auto;
    background-image: url('../../Img/expenses.jpg');
    margin: 30px;
    opacity: .7;
}

.shop{
    grid-area: shop;
    border: 2px solid #515151;
    border-radius: 10px;
    padding-bottom: 15px;
    height: auto;
    width: auto;
    background-image: url('../../Img/shopingList.jpg');
    margin: 30px;
    opacity: .7;
}

.actExp{
    grid-area: actExp;
    border: 2px solid #515151;
    border-radius: 10px;
    padding-bottom: 15px;
    height: auto;
    width: auto;
    background-image: url('../../Img/actualExpenses.jpg');
    margin: 30px;
    opacity: .7;
}

.link{
    
    text-decoration: none;
    color: rgb(10, 1, 59);
    font-size: 14px;
  }

  .linkAuthor{
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .UserAuthor{
    color: black;
    font-size: 18px;
  }

  
  
