.AEdiv{
  display: grid;
    grid-template-areas:
"AEheader "
"table"
"button ";
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 300px ;
    padding-right: 10px;
    width: 0 auto;
  }

.AEheader{
  grid-area: AEheader;
    border: 1px solid grey;
    border-collapse: collapse;
    padding-bottom: 15px;
    font-size: 35px;
}

.table{
  grid-area: table;
    border: 1px solid grey;
    border-collapse: collapse;
    font-size: 15px;
}

.td{
    border: 1px solid black;
    width: 40px;
    height: 20px;
}

.buttons{
  grid-area: button;
  display: grid;
  grid-template-areas:
"buttonAddKat link";
  
  grid-template-columns: 1fr 1fr ;
}
.expensesButton{
  grid-area: buttonAddKat;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
  margin: 10px;
  width: auto;
  height: 40px;
  font-size: 20px;  
  background-color: rgb(241, 239, 239);
}

.AELink{
  grid-area: link;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  width: 200px;
  
  background-color: rgb(241, 239, 239);
}

.addCreditForm{
  padding: 15px;
}
