.creditDiv{
  display: grid;
    grid-template-areas:
"table total_amount"
"button  button";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.table{
  grid-area: table;
    border: 1px solid grey;
    border-collapse: collapse;
    padding-bottom: 15px;
    font-size: 20px;
}

.td{
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

.td_name{
    border: 1px solid black;
    width: 170px;
    height: 25px;
}




.addCredit{
  grid-area: button;
    padding-top: 15px;
}

.link{
  
    text-decoration: none;
    border: 3px solid grey;
    background-color: grey;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    padding: 5px;
    
  }

  .total_amount{
    margin: 0 auto;
    grid-area: total_amount;
    border: 1px solid grey;
    border-collapse: collapse;
    padding-bottom: 15px;
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  .td_total_amount{
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

  .addCreditForm{
    padding: 15px;
  }

  .formFiled{
    padding: 5px;
  }

  .formBut{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }

  .formInput{
    border-radius: 10px;
  }