.total{
    display: grid;
    grid-template-areas:
"header header header"
"panel main main ";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
 }

.header{
    grid-area: header;
    border-radius: 20px;
    background-color: gray;
    margin: 5px;
} 

.panel{
    grid-area: panel;
    border-radius: 20px;
    height: 1000px;
    background-color: rgb(108, 119, 151);
    padding: 30px;
    margin: 5px;
}

.main{
    grid-area: main;
    border-radius: 20px;
    height: 1000px;
    background-color: rgb(185, 199, 243);
    padding: 50px;
    margin: 5px;
}

.tabs{
    padding-bottom: 15px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  
